// inline-block white-space fix
.selectize-control {
  font-size: 0;
}

// fix na uszkodzone rozwijanie wewnątrz .input-group
.form-control.selectized {
  position: static !important;
}

// brak zaokrąglonych narożników z lewej, bądź z prawej w .input-group
.input-group {
  > select:first-child + .selectize-control .selectize-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .selectize-control:last-child .selectize-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
